sphinx
sphinx_rtd_theme
sphinx-epytext
recommonmark
enum-tools[sphinx]
dbus-python
evdev
pyasyncore; python_version>="3.12"
PyGObject==3.50
pyhamcrest
pyinotify
PyQt5
python-magic
python-xlib
pyudev
QScintilla
